---
title: "Allen Myland, Inc"
slug: "home"
order: 0
nav: 'na'
---

{{>masthead}}



<div id="welcome">
    <div class="holder">
        <h1>Welcome To Allen Myland, Inc. (AMI)</h1>
        <p>AMI’s professional services provide customers with comprehensive support and maintenance of EMC, Hitachi and other manufacturers' equipment. Responsive support, skilled engineers and competitive prices are the key reasons that AMI is the leading third party EMC and Hitachi support provider, servicing data processing equipment around the world for more than 40 years.</p>
    </div>
</div>

<div id="home" class="content">
    <div class="holder">
        <div id="products">
            <h2><img src="{{assets}}/img/icon-01.png"><br><a href="../supported-equipment">{{homeContent.0.title}}</a></h2>
            <ul>
            {{# each homeContent.0.list}}
                <li><h3>{{entry.title}}</h3></li>
                {{#if entry.more}}
                    <ul>
                        {{# each entry.more}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                {{/if}}
            {{/each}}
            </ul>
        </div>

        <div id="services">
            <h2><img src="{{assets}}/img/icon-02.png"><br><a href="../services">{{homeContent.1.title}}</a></h2>
            <ul>
            {{# each homeContent.1.list}}
                <li><h3>{{entry.title}}</h3></li>
                {{#if entry.more}}
                    <ul>
                        {{# each entry.more}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                {{/if}}
            {{/each}}
            </ul>
        </div>

        <div id="contact">
            <h2><img src="{{assets}}/img/icon-03.png"><br><a href="../contact">Contact</a<</h2>
            <h3>{{contact.name}}</h3>
            <p>{{contact.street}}</p>
            <p>{{contact.city}}, {{contact.state}} {{contact.zip}}</p>
            <p>&nbsp;</p>
            <p><i class="fa fa-phone fa-fw"></i> {{contact.phone}}</p>
            <p><i class="fa fa-print fa-fw"></i> {{contact.fax}}</p>
            <p><i class="fa fa-envelope-o fa-fw"></i><a href="mailto:{{contact.email}}">{{contact.email}}</a></p>
            <h2 class="interested">Interested in Maintenance? Buying or Selling Equipment?</h2>
            <a href="../contact" class="btn">Request a Quote</a>
        </div>
    </div><!--.holder-->
</div><!--#content-->
