---
title: "About"
slug: "about"
nav: "main"
order: 3
---

<div id="about" class="content">
    <div class="holder">
        <div id="about-copy">
            <h1>{{about.headline}}</h1>
            <p>{{about.about-copy}}</p>
        </div>

        <div id="why-ami">
            <h1>{{about.why-ami-headline}}</h1>
            <p>{{about.why-ami-sub}}</p>

            <ul>
            {{#each about.entry}}
                <li><b>{{this.title}}</b> {{this.copy}}</li>
            {{/each}}
            </ul>
        </div><!-- why-ami-->
    </div>
</div>
